{
  "presets": [
    ["es2015", {
      // 使编译后的代码不需要完全遵循ES6规定, 简化编译后的代码, 提高代码执行效率
      // 这么做会有兼容性的风险, 可能会导致ES6源码理应的执行结果和编译后的ES5代码的实际结果并不一致. 
      // 如果代码没有遇到实际的效率瓶颈, 官方不建议使用loose模式.
      "loose": true,
      // modules: false选项把ES6模块转为CommonJS模块的功能给关闭掉
      "modules": false
      }]
  ]
}